<!-- **** Projects Section **** -->
<section class="page-section" id="{{ site.data.sitetext.better.section | default: "better" }}">

    <!-- Each .row is a project -->
    <div class="container">
      <div class="k1" style="text-align: center;">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.better.title | default: "better" }}</h2>
  {% if site.data.sitetext.better.text %}
  <h3 class="section-subheading text-muted">{{ site.data.sitetext.better.text }}</h3>
  {% endif %}
      </div>
      <div class="row">
        <div class="col-lg-4 col-sm-12">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title" style="text-align: center;">FAST</h3>
            <div>
              <p class="mb-4">
                Fast matters, especially when it comes to customer service so our highest
                priority is to deliver software as fast as possible with fast load times and lag free interaction software.
              </p>
            </div>
  
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="project-wrapper__image">
            <a href="#!" target="_blank">
              <div data-tilt class="thumbnail rounded">
                <img class="img-fluid" style="width: 450px;height: 300px;" src="./assets/img/better/faster.png" />
              </div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row" >
        <div class="col-lg-4 col-sm-12">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title" style="text-align: center;">USER FREINDLY</h3>
            <div>
              <p class="mb-4">
                User freindly software is the critical goal for the success of any software so we develop
                such kind of software that user can easy navigate.
              </p>
            </div>
            
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="project-wrapper__image">
            <a href="#!" target="_blank">
              <div data-tilt class="thumbnail rounded">
                <img class="img-fluid" style="width: 450px;height:300px;" src="./assets/img/better/user.png" />
              </div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row"  >
        <div class="col-lg-4 col-sm-12">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title" style="text-align: center;">RESPONSIVE</h3>
            <div>
              <p class="mb-4">
               To  provide an optimal experience for the user across the board and to
               improve user experience we develop responsive software.
              </p>
            </div>
  
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="project-wrapper__image">
            <a href="#!" target="_blank">
              <div data-tilt class="thumbnail rounded">
                <img class="img-fluid" style="width: 450px;height: 300px;" src="./assets/img/better/respons.png" />
              </div>
            </a>
          </div>
        </div>
      </div>
  
      <div class="row" >
        <div class="col-lg-4 col-sm-12">
          <div class="project-wrapper__text">
            <h3 class="project-wrapper__text-title" style="text-align: center;">DYNAMIC</h3>
            <div>
              <p class="mb-4">
                Going dynamic is the savvy move if you're hoping to make a more unpredictable site and need simple substance the board, incredible client experience, and extraordinary customization choices, at that point it bodes well to pick dynamic. 
                Reach us to begin making your dynamic site today.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-8 col-sm-12">
          <div class="project-wrapper__image">
            <a href="#!" target="_blank">
              <div data-tilt class="thumbnail rounded">
                <img class="img-fluid" style="width: 450px;height: 300px;" src="./assets/img/better/dynamic.png" />
              </div>
            </a>
          </div>
        </div>
      </div>
  
    </div>
    
    </section>
    <!-- /END Project block -->