<style>
    .jumbotron{
        background-color: #02B4AF;
;
        margin-top:0px;
    }
</style>
<section class="km" id="{{ site.data.sitetext.what_we_do.section | default: "what_we_do" }}">
    <div class="jumbotron" >
        <div style="text-align: center;">
            <h2 class="section-heading text-uppercase">{{ site.data.sitetext.what_we_do.title | markdownify | default: "what_we_do" }}</h2>
            {% if site.data.sitetext.what_we_do.text %}
            <h2 class="section-subheading text-muted" >{{ site.data.sitetext.what_we_do.text }}</h2>
        {% endif %}
        </div>
        <div class="container" style="text-align: center;">
            <p style="color: rgb(108, 117, 128);">Welcome to our Software Development Company.We design and deliver custom built, market oriented and highly secured software.<br>
                We provide mainly following services:<br>
                Web development<br>
                Mobile development<br>
                Data science<br>
                Application development<br>
                Embedded systems<br>
                Cloud computing <br></p>
        </div>
        
    </div>
</section>